<?xml version="1.0"?>
<configuration>
<configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
        <section name="InteractiveTable.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
</configSections>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup><userSettings>
        <InteractiveTable.Properties.Settings>
            <setting name="DEFAULT_TEMPLATE_PATH" serializeAs="String">
                <value />
            </setting>
            <setting name="DEFAULT_ROTATE_ANGLE" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="DEFAULT_BLOCK_LEVEL" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="DEFAULT_CONTOUR_MIN_AREA" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="DEFAULT_CONTOUR_MIN_LENGTH" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="DEFAULT_DILATATION" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="DEFAULT_ERODE" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="DEFAULT_GAMMA" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="DEFAULT_MAX_ACF" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="DEFAULT_MIN_ACF" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="DEFAULT_MIN_ICF" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="DEFAULT_NOISE_ENABLED" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="DEFAULT_NOISE_FILTER" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="DEFAULT_BLUR_ENABLED" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="DEFAULT_ADAPTIVE_THRESHOLD_PARAMETER" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="DEFAULT_ADAPTIVE_THRESHOLD_BLOCKSIZE" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="DEFAULT_INVERT_ENABLED" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="DEFAULT_NORMALIZE_ENABLED" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="CALIBRATION_POINT_A_X" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="CALIBRATION_POINT_A_Y" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="CALIBRATION_POINT_C_X" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="CALIBRATION_POINT_C_Y" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="CALIBRATION_PERSPECTIVE" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="CALIBRATION_ROTATION" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="DEFAULT_CAM_INDEX" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="DEFAULT_OUTPUT_DEPENDENCY" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="DEFAULT_OUTPUT_DEPENDENT_WIDTH" serializeAs="String">
                <value>1024</value>
            </setting>
            <setting name="DEFAULT_PARTICLE_COLOR_R" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="DEFAULT_PARTICLE_COLOR_G" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="DEFAULT_PARTICLE_COLOR_B" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="DEFAULT_FADECOLOR_PATH" serializeAs="String">
                <value>colors.xml</value>
            </setting>
        </InteractiveTable.Properties.Settings>
    </userSettings>
</configuration>
